/* GLOBAL VARS */

/* fonts */
$ff-main: 'Open Sans', sans-serif;
$ff-lead: 'Nanum Gothic', sans-serif;

/* font sizes */
$fz-h1: 50px;
$fz-h2: 37px;
$fz-h3: 24px;

$fz-small: 16px;
$fz-xsmall: 12px;

$fz-main: 18px;

/* brand colors */
$c-main: #93826f;
$c-main-light: #aa9981;
$c-main-dark: #726151;

$c-secondary: gray;

$c-alter: yellow;

$c-success: green;
$c-error: red;
$c-info: gray;
$c-disabled: #acacac;

/* responsive breakpoints */
$m-xs-max: 575px; 	/* mobile */
$m-sm-min: 576px;
$m-sm-max: 767px;
$m-md-min: 768px;	/* tablet */ 
$m-md-max: 991px;
$m-lg-min: 992px;	/* desktop */
$m-lg-max: 1199px;
$m-xl-min: 1200px;	/* wide */
$m-xl-max: 1400px;	

$tr-standart: 0.3s ease-in;